appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib
mpmath
nest
numpy
packaging
parso
pexpect
pillow
platformdirs
prompt
psutil
ptyprocess
pure
Pygments
pyparsing
python
pyzmq
setuptools
six
stack
sympy
tornado
traitlets
wcwidth
